*.pyc
nilearn_cache/
*.dot
*.dot.*
tmp.py
.idea/
*.aux
*.log
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
log/
*.synctex.gz
apuntes/
*.out
*.lof
*.lot
*crash*
notebooks/.ipynb_checkpoints
notebooks/__pycache_
notebooks/*.npz
notebooks/imgs/
notebooks/data
*.ipynb_checkpoints*
results/
notebooks/*.nii.gz
notebooks/fmri/
notebooks/Untitled.*
